[Desktop Entry]
Type=Application
Exec=/usr/bin/camToggle-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=camToggle Indicator
Comment=Simple indicator applet to enable/disable webcam
